{% extends "base.html" %}
{% block title %}Blog Page{% endblock title %}


{% block content %}
    <div class="container">
        <div style="color: red; font-size: 20px; border-bottom: 1px solid red; margin-bottom: 50px; font-weight: bold; margin-top: 50px;">
            DANH SÁCH TRUYỆN TRANH
        </div>
        {% for data in data_list %}
            <div class="row">
                <div style="padding: 10px; display: flex; margin: 10px 0; border: 1px solid gray; border-radius: 5px; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);"
                     class="col">
                    <img style="width: 80px; height: 120px; border-radius: 5px"
                         src="https://static.khoibut.com/img/kb-novel-cover-default.jpg" alt="img">
                    <div style="margin-left: 20px">
                        <div style="font-size: 20px; font-weight: bold; color: darkorange">
                            <a style="color: darkorange; text-decoration: none" href="{% url 'blog:blog' data.slug %}">{{ data.title }}</a>
                        </div>
                        <div>{{ data.content }}</div>
                        <div style="display: flex; margin-top: 10px">
                            <div style="margin-right: 5px; background-color: #E3F2E4; border-radius: 5px; color: #2E848E; padding: 2px 10px">
                                Tản văn
                            </div>
                            <div style="margin-right: 5px; background-color: #E3F2E4; border-radius: 5px; color: #2E848E; padding: 2px 10px">
                                2 chương
                            </div>
                            <div style="background-color: #E3F2E4; border-radius: 5px; color: #2E848E; padding: 2px 10px">
                                Còn tiếp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}