{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}


{% block content %}
    <div class="container">
        <h1 style="color: chocolate; text-align: center; margin-top: 50px;">Information User</h1>
        <div style="border: 1px solid gray; border-radius: 10px; width: 400px; padding: 10px; margin: 20px auto; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);">
            <div>Account: <strong style="color: red">{{ user.username }}</strong></div>
            <div>Email: <strong style="color: red">{{ user.email }}</strong></div>
        </div>
    </div>
{% endblock content %}